.price
  .wrapper
    h2.price__title  Sign up today – 7 day money back guarantee

    .price__content
    
      .price__item 
        p.price__period MONTHLY
        span.price__currency 6.95
        .price__block-txt 
          p Includes all VPN features.
        a.price__btn(href='#') SIGN UP

      .price__item 
        p.price__period Two Years
        span.price__currency 2.91
        .price__block-txt 
          .price__discount
            span $166.80
            span $69.95 per two years
          p.price__save Save 58%*
        a.price__btn(href='#') SIGN UP

      .price__item 
        p.price__period YEARLY
        span.price__currency 3.33
        .price__block-txt 
          .price__discount
            span $83.40
            span $39.95 per year
          p.price__save Save 58%*
        a.price__btn(href='#') SIGN UP
      