.tags(data-aos="flip-up")

  .tags__group

    p.tags__txt TAGS: 

    .tags__links
      a(href="#") bitcoin
      a(href="#") bittorrent        
      a(href="#") irc        
      a(href="#") news        
      a(href="#") privacy        
      a(href="#") programming        
      a(href="#") security
    
  .tags__other-links
    a(href="#") team        
    a(href="#") contact