.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #ffffff;
  z-index: 100;
  &__inner {
    position: relative;
    max-width: 1600px;
    height: 80px;
    margin: auto;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
  }
  &__brand {
    margin-left: 205px;
    color: #000000;
    align-self: center;
  }

  &__btn-group {
    display: flex;
  }
  &__log-in {
    position: relative;
    width: 90px;
    height: 40px;
    border: 1px solid #4cb649;
    border-radius: 30px;
    &::after {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      margin-left: auto;
      margin-right: auto;
      width: max-content;
      content: 'LOG IN';
      color: #4cb649;
      font-size: 14px;
    }
  }
  &__get-started {
    position: relative;
    width: 160px;
    height: 40px;
    background: linear-gradient(0deg, #4cb649 0%, #5ddf5a 100%);

    border-radius: 30px;
    &::after {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      margin-left: auto;
      margin-right: auto;
      width: max-content;
      content: 'GET STARTED';
      color: #fff;
      font-weight: 500;
      font-size: 14px;
    }
  }
}
