.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #ffffff;
  z-index: 100;
  &__inner {
    position: relative;
    max-width: 1600px;
    height: 80px;
    margin: auto;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: 1200px) {
      padding: 20px 10px 20px 60px;
    }
    @media screen and (max-width: 950px) {
      height: 34px;
      padding-top: 16px;
    }
  }
  &__burger {
    position: absolute;
    align-self: center;
    left: 0;
    display: none;
    width: 60px;
    height: 60px;
    @media screen and (max-width: 950px) {
      display: block;
    }
  }
  &__brand {
    margin-left: 205px;
    color: #000000;
    align-self: center;
    font-family: 'Inter';
    font-weight: 400;
    @media screen and (max-width: 1200px) {
      margin-left: 0px;
    }
  }
  &__nav {
    height: max-content;
    width: auto;
  }

  &__btn-group {
    display: flex;
    align-items: center;
    padding-right: 55px;
    @media screen and (max-width: 1200px) {
      padding-right: 0px;
    }
  }
  &__log-in {
    position: relative;
    width: 90px;
    height: 40px;
    border: 1px solid #4cb649;
    border-radius: 30px;
    transition: all 0.1s ease-in;
    @media screen and (max-width: 950px) {
      display: none;
    }
    &::after {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      margin-left: auto;
      margin-right: auto;
      width: max-content;
      content: 'LOG IN';
      color: #4cb649;
      font-size: 14px;
    }
    &:hover {
      transform: scale(1.05);
    }
    &:active {
      transform: scale(0.96);
    }
  }
  &__get-started {
    position: relative;
    width: 160px;
    height: 40px;
    margin-left: 10px;
    background: linear-gradient(0deg, #4cb649 0%, #5ddf5a 100%);
    border-radius: 30px;
    transition: all 0.1s ease-in;
    &::after {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      margin-left: auto;
      margin-right: auto;
      width: max-content;
      content: 'GET STARTED';
      color: #fff;
      font-weight: 500;
      font-size: 14px;
    }
    &:hover {
      transform: scale(1.05);
    }
    &:active {
      transform: scale(0.99);
    }
  }
}
