header.header(data-aos="fade-down")  

  include ../../components/message/message	
  
  .header__inner
    .header__burger
      include ../../components/burger/burger  

    .header__brand Company Name    

    .header__nav
      include ../../components/navigation/navigation

    .header__btn-group
      a.header__log-in(href="#")
      a.header__get-started(href="#") 