header.header(data-aos="fade-down")
  include ../../components/message/message	
  
  .header__inner

    .header__brand Company Name  

    include ../../components/navigation/navigation

    .header__btn-group
      a.header__log-in(href="#")
      a.header__get-started(href="#") 