@import './includes/promo/promo';

@import './includes/tags/tags';

@import './includes/article/article';

@import './includes/aside/aside';

@import './includes/price/price';

.main {
  margin-top: 160px;

  &__content {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 770px) {
      flex-direction: column;
      padding: 0 10px;
    }
  }
}
