.nav {
  position: relative;
  display: flex;
  align-items: center;
  transition: all 0.4s ease;
  background: #ffffff;
  @media screen and (max-width: 950px) {
    width: 100%;
    height: 100vh;
    padding: 10px 10px 20px 10px;
    margin-top: 35px;
    left: 50%;
    transform: translate(-50%, -180%);
    position: absolute;
    flex-direction: column;
    gap: 15px;
    background: #00000099;
  }

  &__item {
    position: relative;
    margin-right: 15px;
    margin-left: 15px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    color: black;
    line-height: 30px;
    padding: 5px;
    cursor: pointer;
    @media screen and (max-width: 950px) {
      order: -1;
      background: #ffffff;
      top: 20px;
    }
    &::before {
      position: absolute;
      bottom: 0px;
      left: 0;
      content: '';
      width: 0%;
      height: 3px;
      background: #4cb649;
      transition: all 0.2s;
      @media screen and (max-width: 950px) {
        bottom: 9px;
      }
    }

    &:hover::before {
      width: 100%;
    }
  }

  &__dropdown {
    position: relative;
    padding-right: 20px;
    -webkit-tap-highlight-color: transparent;

    @media screen and (max-width: 950px) {
      line-height: 30px;
      padding: 10px;
      order: 0;
    }

    &::before {
      @media screen and (max-width: 950px) {
        top: 35px;
      }
    }

    &:hover {
      .nav__list {
        display: block;
      }
    }
    &::after {
      position: absolute;
      top: 30%;
      right: 0;
      content: '';
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid black;
      @media screen and (max-width: 950px) {
        top: 20px;
        right: -15px;
        border-top: 5px solid rgb(255, 255, 255);
      }
    }
  }

  &__list {
    display: none;
    padding-top: 25px;
    position: absolute;
    width: 100%;
    min-width: max-content;
    left: 0;
    right: 0;
    line-height: 2;
    animation: growDown 300ms ease-in-out forwards;
    transform-origin: top center;

    @media screen and (max-width: 950px) {
      position: static;
      padding-top: 5px;
    }
  }

  &__link {
    padding: 5px 10px;
    font-size: 13px;
    display: block;
    text-decoration: none;
    color: black;
    transition: all 0.2s;
    text-align: center;
    background: #ffffff;
    box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.75);

    @media screen and (max-width: 950px) {
      box-shadow: none;
    }

    &:hover {
      background: #4cb649;
      color: #ffffff;
    }
  }
}

@keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}

.nav.active {
  transform: translate(-50%, 0);
}

.body.active {
  height: 100%;
  overflow-y: hidden;
}
